<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<script type="text/javascript" th:fragment="autocomplete">
		$(document).ready(function() {
			
			var urlAjax = $("#urlAjax").val();
			$("#producto").autocomplete({
				source : function(request, response) {
					$.ajax({
						url : urlAjax + request.term,
						dataType : "json",
						data : {
							term : request.term
						},
						success : function(data) {
							response($.map(data, function(item) {
								return {
									value : item.id,
									label : item.nombre,
									precio : item.precio,

								};
							}))
						},
					})
				},
				select : function(event, ui) {
					var lote= null;
					$("#Lotes").find("option").remove();
					$("#producto").val("");
					$.ajax({
					    type: "GET",
					    url: "/cargar-lotes/" + ui.item.value,
					    data  : {
					    	term : ui.item.value
					    },
					    dataType: "json",
						success :  function(data) {
					        jQuery.each(data, function(index, item) {
					        	
					        	lote = item.noLote;
					            //now you can access properties using dot notation
					       	 $('#Lotes').append('<option value="' + item.noLote + '">' +
				        			 item.noLote + '</option>');
					            
					            
					        });
					    },
					});
					
					
					var linea = $("#plantillaItemsVenta").html();
					
					linea = linea.replace(/{ID}/g,ui.item.value);
					linea = linea.replace(/{NOMBRE}/g,ui.item.label);
					linea = linea.replace(/{PRECIO}/g,ui.item.precio.toFixed(2));
					linea = linea.replace(/{LOTE}/g,lote);
					var myEle = document.getElementById("row_" + ui.item.value);
				    if(myEle == null){
				    	$("#cargarItemsVentas tbody").append(linea);
				    	itemsHelper.calcularImporte(ui.item.value,ui.item.precio, 1);
				    }

					
					if($("tr[id^='row_']").length>1){
						
						$("#registrar").attr("disabled",false);
				     }

					return false;
				}
				

			});
			
			$("form").submit(function(){
				
				$("#plantillaItemsVenta").remove();
				return;
			});
		
			$("#success").fadeOut(5000);
		});
		
		var itemsHelper = {
				
				calcularImporte : function(id, precio, cantidad){
					$("#total_importe_" +id).html(parseFloat(precio)*parseFloat(cantidad));
					this.calcularTotal();
				},
		       eliminarItem : function(id){
		    	   
		    	   
		    	   $("#row_"+id).remove();
		    	   this.calcularTotal();
		   		if($("tr[id^='row_']").length==1){
					
					$("#registrar").attr("disabled",true);
			     }

		       },
		       calcularTotal: function(){
		    	   var total = 0 ;
		    	   $('span[id^="total_importe_"]').each(function(){
		    		   
		    		   total +=parseFloat($(this).html());
		    	   });
		    	   
		    	   $("#total").html(total.toFixed(2));
		       }
				
		}
		

		
	</script>
</body>
</html>