<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>



	<header th:replace="layout/layout :: header" ></header>

	<div class="container-fluid mt-5" style="padding-top: 80px;">
		<div class="row">
			<div class="col-md-5">


				<div class="card border-success mb-3">
					<div class="card-header">Ultimas Ventas</div>
					<div class="card-body text-success">
						<div class="table-condensed table-responsive">


							<table
								class="table table-bordered table-responsive table-striped  "
								style="text-align: center;">
								<thead>
									<tr>

										<th scope="col">Fecha de venta</th>
										<th scope="col">Total</th>
										<th scope="col">Descripción Rapida</th>

										<th scope="col">Eliminar Venta</th>
									</tr>
								</thead>
								<tbody>

									<tr th:each="venta : ${ventas}">

										<td th:text="${venta.fecha}"></td>
										<td th:text="${venta.total}"></td>

										<td><button class="btn btn-info" th:text="'Informacion'"
												type="button" th:id="informacion_+ ${venta.id}"
												th:onclick="|getVentas('${venta.id}')|"></button></td>

										<td><a class="btn btn-danger" th:text="'Eliminar'"
											type="button" th:href="@{/eliminar/}+ ${venta.id}"
											onclick="return confirm('¿Estas seguro que deseas eliminar la venta?');"></a></td>


									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-7">
				<form th:action="@{/form}" th:object="${venta}" method="post">
					<div class="form-row">
						<div class="col-md-4 mb-2">
							<label for="producto">Producto</label> <input type="text"
								class="form-control" id="producto" name="producto"
								placeholder="Nombre del Producto" onfocus="this.value=''">
						</div>

					</div>




					<div class="form-row">
						<div class="col-md-6 mb-2">
							<div class="input-group mb-3" hidden="true">
								<div class="input-group-prepend">
									<label class="input-group-text" for="inputGroupSelect01">Lotes
										Disponibles</label>
								</div >
								<select class="custom-select" id="Lotes">
									<option selected disabled="disabled">Función no disponible</option>
								</select>
							</div>
						</div>
						<div class="col-md-3 mb-2">
							<h1
								style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; text-align: right;"
								id="total">0</h1>
						</div>
						<div class="col-md-3  mb-2">
							<h1
								style="position: absolute; top: 50%; left: 60%; transform: translate(-50%, -50%); width: 100%;">
								MXN</h1>
						</div>
					</div>

					<table th:replace="items_venta :: itemsVenta"></table>

					<div class="form-row">
						<div class="col-md-12">
							<table
								class="table table-responsive table-sm table-hover  text-nowrap mt-3	"
								id="cargarItemsVentas" style="text-align: center;">
								<thead>
									<tr>
										<th width="30%">Nombre</th>
										<th width="15%">Precio</th>
										<th width="10%">Cantidad</th>
										<!-- 	<th width="10%">Descuento</th> -->
										<th width="10%">Subtotal</th>
										<th width="10%">Eliminar</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-4 mb-2 mt-4">
							<button type="submit" class="btn btn-success" id="registrar"
								disabled="disabled">Registrar Venta</button>
						</div>


					</div>
				</form>
			</div>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="layout/layout :: javascript"></script>
	<script th:replace="autocomplete :: autocomplete"></script>
	<script type="text/javascript">
		function getVentas(id) {

			var urlAjaxInfo = $("#urlAjaxInfo").val();
			$.ajax({
				type : "GET",
				url : urlAjaxInfo + id,

				dataType : "json",
				success : function(data) {

					//now you can access properties using dot notation
					if (data.length > 0) {

						var r = data.map(function(e) {
							return e.producto.nombre + "       " + e.cantidad;
						}).join("\n");
						alert(r);

					}

				},
			});

		}
	</script>

</body>
</html>