<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>


	<div class="container mt-5" style="padding-top: 30px;">
		<h1 class="mb-4">Resumen de ventas</h1>
		<h5>Ingresa la fecha inicial y final del periodo que deseas
			consultar.</h5>
		<h5 class="mb-4">(Resumen predeterminado de ventas: hoy)</h5>

		<form th:action="@{/form-resumen}" th:object="${ventas}"
			th:method="get">
			<div class="form-row">
				<div class="form-group col-md-4">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inicio">Fecha inicial</span>
						</div>
						<input type="date" class="form-control"
							placeholder="Fecha inicial de consulta" aria-label="Username"
							aria-describedby="basic-addon1" name="inicio" required="required">
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="fin">Fecha final</span>
						</div>
						<input type="date" class="form-control"
							placeholder="Fecha final de consulta" aria-label="Username"
							aria-describedby="basic-addon1" name="fin" required="required">
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="col-md-2 mb-2 mt-4">
					<button type="submit" class="btn btn-success mb-3 " id="registrar">Consultar</button>
				</div>
				<div class="col-md-6 mb-2 ">
					<table class="text-nowrap mt-3 text-center">
						<tbody>
							<tr>
								<td th:if="${textoConsulta} != null " th:text="${textoConsulta}" style="padding-right: 30px; margin-bottom: 0px;"></td>


								<td>
									<h3 id="total" th:text="${total}" style="margin-bottom: 0px;">0</h3>
								</td>


								<td>
									<h3 style="margin-bottom: 0px;">MXN</h3>
								</td>
							</tr>
						</tbody>
					</table>
				</div>



			</div>
		</form>


		<table
			class="table table-responsive table-sm table-hover  text-nowrap"
			style="text-align: center;">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Cantidad Vendida</th>
				<!--  	<th scope="col">Precio de Compra</th>
					<th scope="col">Precio de Venta</th>
					-->
					<th scope="col">Total de venta</th>
					<th scope="col">Ganancia </th>
					<th scope="col">Cantidad disponible </th>

				</tr>
			</thead>
			<tbody>

				<tr th:each="venta : ${ventas}">
					<td th:text="${venta.nombreProducto}"></td>
					<td th:text="${venta.cantidad}"></td>
					<!--  <td th:text="${venta.precioU}"></td>
					<td th:text="${venta.precio}"></td>
					<td th:text="${venta.subtotal}"></td>
					-->
					<td th:text="${venta.total}"></td>
					<td th:text="${venta.ganancia}"></td>
					<td th:text="${venta.cantidadDisponible}"></td>




				</tr>

			</tbody>
		</table>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="autocomplete-gestion :: autocomplete-gestion"></script>
	<script type="text/javascript">
		$(document).ready(function() {

		});
	</script>
</body>
</html>